{% extends 'store/base.html' %}


{% block content %} 
<div class="container">
    <div class="row">
        <div class="col-2">
            <p>Bonjour tout le monde </p>
        </div>
        <div class="col-2">
            <p>Bonjour tout le monde </p>
        </div>
        <div class="col-2">
            <p>Bonjour tout le monde </p>
        </div>
        <div class="col-2">
            <p>Bonjour tout le monde </p>
        </div>
        <div class="col-2">
            <p>Bonjour tout le monde </p>
        </div>
    </div>
</div>
{% endblock %}