{% extends 'store/base.html' %}

{% block categories-list %}

<div class="col-lg-3">
	<div class="all-category">
		<h3 class="cat-heading"><i class="fa fa-bars" aria-hidden="true"></i>CATEGORIES</h3>
		<ul class="main-category">
			<li><a href="#">Nouvautés <i class="fa fa-angle-right" aria-hidden="true"></i></a>
				<ul class="mega-menu">
					<li class="single-menu">
						<a href="#" class="title-link">Shop Kid's</a>
						<div class="image">
							<img src="https://via.placeholder.com/225x155" alt="#">
						</div>
						<div class="inner-link">
							<a href="#">Kids Toys</a>
							<a href="#">Kids Travel Car</a>
							<a href="#">Kids Color Shape</a>
							<a href="#">Kids Tent</a>
						</div>
					</li>
					<li class="single-menu">
						<a href="#" class="title-link">Shop Men's</a>
						<div class="image">
							<img src="https://via.placeholder.com/225x155" alt="#">
						</div>
						<div class="inner-link">
							<a href="#">Watch</a>
							<a href="#">T-shirt</a>
							<a href="#">Hoodies</a>
							<a href="#">Formal Pant</a>
						</div>
					</li>
					<li class="single-menu">
						<a href="#" class="title-link">Shop Women's</a>
						<div class="image">
							<img src="https://via.placeholder.com/225x155" alt="#">
						</div>
						<div class="inner-link">
							<a href="#">Ladies Shirt</a>
							<a href="#">Ladies Frog</a>
							<a href="#">Ladies Sun Glass</a>
							<a href="#">Ladies Watch</a>
						</div>
					</li>
				</ul>
			</li>
			<li class="main-mega"><a href="#">meilleurs ventes <i class="fa fa-angle-right" aria-hidden="true"></i></a>
				<ul class="mega-menu">
					<li class="single-menu">
						<a href="#" class="title-link">Shop Kid's</a>
						<div class="image">
							<img src="https://via.placeholder.com/225x155" alt="#">
						</div>
						<div class="inner-link">
							<a href="#">Kids Toys</a>
							<a href="#">Kids Travel Car</a>
							<a href="#">Kids Color Shape</a>
							<a href="#">Kids Tent</a>
						</div>
					</li>
					<li class="single-menu">
						<a href="#" class="title-link">Shop Men's</a>
						<div class="image">
							<img src="https://via.placeholder.com/225x155" alt="#">
						</div>
						<div class="inner-link">
							<a href="#">Watch</a>
							<a href="#">T-shirt</a>
							<a href="#">Hoodies</a>
							<a href="#">Formal Pant</a>
						</div>
					</li>
					<li class="single-menu">
						<a href="#" class="title-link">Shop Women's</a>
						<div class="image">
							<img src="https://via.placeholder.com/225x155" alt="#">
						</div>
						<div class="inner-link">
							<a href="#">Ladies Shirt</a>
							<a href="#">Ladies Frog</a>
							<a href="#">Ladies Sun Glass</a>
							<a href="#">Ladies Watch</a>
						</div>
					</li>
				</ul>
			</li>
			{% for category in categories %}
				<li><a href="#">{{ category.name }}</a></li>
			{% endfor %}
		</ul>
	</div>
</div>
{% endblock %}

{% block content %}

<section class="hero-slider">
	<!-- Single Slider -->
	<div class="single-slider">
		<div class="container">
			<div class="row no-gutters">
				<div class="col-lg-9 offset-lg-3 col-12">
					<div class="text-inner">
						<div class="row">
							<div class="col-lg-7 col-12">
								<div class="hero-text">
									<h1><span>UP TO 50% OFF </span>Shirt For Man</h1>
									<p>Maboriosam in a nesciung eget magnae <br> dapibus disting tloctio in the find it pereri <br> odiy maboriosm.</p>
									<div class="button">
										<a href="#" class="btn">Shop Now!</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--/ End Single Slider -->
</section>
<!--/ End Slider Area -->

<!-- Start Small Banner  -->
<section class="small-banner section">
	<div class="container-fluid">
		<h4>Découvrez nos produits</h4>
		<div class="row">
			{% for tag in random_tags %}
				<!-- Single Banner  -->
				<div class="col-lg-4 col-md-6 col-12">
					<div class="single-banner">
						<img src="https://via.placeholder.com/600x370" alt="#">
						<div class="content">
							<p>{{ tag.name }}</p>
							<h3>{{ tag.description }}</h3>
							<a href="#">Découvrez maintenant</a>
						</div>
					</div>
				</div>
				<!-- /End Single Banner  -->
			{% endfor %}
		</div>
	</div>
</section>
<!-- End Small Banner -->

<!-- Start Product Area --> 
<div class="product-area section">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-title">
                    <h2>Catégories</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="product-info">
                    <div class="nav-main">
                        <!-- Tab Nav -->
						<ul class="nav nav-tabs" id="myTab" role="tablist">
							{% for category in categories %}
								<li class="nav-item"><a class="nav-link" data-toggle="tab" href="#{{ category.name }}" role="tab">{{ category.name }}</a></li>
							{% endfor %}
						</ul>
                        <!--/ End Tab Nav -->
                    </div>
                    <div class="tab-content" id="myTabContent">
						{% for category in categories %}
							<div class="tab-pane fade" id="{{ category.name }}" role="tabpanel">
								<div class="tab-single">
									<div class="row">
                                        {% for product in category.product_set.all %}
                                            <div class="col-xl-3 col-lg-4 col-md-4 col-12">
                                                <div class="single-product">
                                                    <div class="product-img">
                                                        <a href="product-details.html">
                                                            <img class="default-img" src="https://via.placeholder.com/550x750" alt="#">
                                                            <img class="hover-img" src="https://via.placeholder.com/550x750" alt="#">
                                                        </a>
                                                        <div class="button-head">
                                                            <div class="product-action">
                                                                <a data-toggle="modal" data-target="#exampleModal" title="Quick View" href="#"><i class=" ti-eye"></i><span>Quick Shop</span></a>
                                                                <a title="Wishlist" href="#"><i class=" ti-heart "></i><span>Add to Wishlist</span></a>
                                                                <a title="Compare" href="#"><i class="ti-bar-chart-alt"></i><span>Add to Compare</span></a>
                                                            </div>
                                                            <div class="product-action-2">
                                                                <a title="Add to cart" href="#">Ajouter au panier</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="product-content">
                                                        <h3><a href="product-details.html">{{ product.name }}</a></h3>
                                                        <div class="product-price">
                                                            <span><b>{{ product.price|floatformat:0 }}FCFA</b></span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div> 
                                        {% endfor %}
                                    </div>
								</div>
							</div>
						{% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Product Area -->

<!-- Start Midium Banner  -->
<section class="midium-banner">
	<div class="container">
		<div class="row">
			<!-- Single Banner  -->
			<div class="col-lg-6 col-md-6 col-12">
				<div class="single-banner">
					<img src="https://via.placeholder.com/600x370" alt="#">
					<div class="content">
						<p>Man's Collectons</p>
						<h3>Man's items <br>Up to<span> 50%</span></h3>
						<a href="#">Shop Now</a>
					</div>
				</div>
			</div>
			<!-- /End Single Banner  -->
			<!-- Single Banner  -->
			<div class="col-lg-6 col-md-6 col-12">
				<div class="single-banner">
					<img src="https://via.placeholder.com/600x370" alt="#">
					<div class="content">
						<p>shoes women</p>
						<h3>mid season <br> up to <span>70%</span></h3>
						<a href="#" class="btn">Shop Now</a>
					</div>
				</div>
			</div>
			<!-- /End Single Banner  -->
		</div>
	</div>
</section>
<!-- End Midium Banner -->

<!-- Start Most Popular -->
<div class="product-area most-popular section">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<div class="section-title">
					<h2>Hot Item</h2>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-12">
				<div class="owl-carousel popular-slider">
					<!-- Start Single Product -->
					<div class="single-product">
						<div class="product-img">
							<a href="product-details.html">
								<img class="default-img" src="https://via.placeholder.com/550x750" alt="#">
								<img class="hover-img" src="https://via.placeholder.com/550x750" alt="#">
								<span class="out-of-stock">Hot</span>
							</a>
							<div class="button-head">
								<div class="product-action">
									<a data-toggle="modal" data-target="#exampleModal" title="Quick View" href="#"><i class=" ti-eye"></i><span>Quick Shop</span></a>
									<a title="Wishlist" href="#"><i class=" ti-heart "></i><span>Add to Wishlist</span></a>
									<a title="Compare" href="#"><i class="ti-bar-chart-alt"></i><span>Add to Compare</span></a>
								</div>
								<div class="product-action-2">
									<a title="Add to cart" href="#">Add to cart</a>
								</div>
							</div>
						</div>
						<div class="product-content">
							<h3><a href="product-details.html">Black Sunglass For Women</a></h3>
							<div class="product-price">
								<span class="old">$60.00</span>
								<span>$50.00</span>
							</div>
						</div>
					</div>
					<!-- End Single Product -->
					<!-- Start Single Product -->
					<div class="single-product">
						<div class="product-img">
							<a href="product-details.html">
								<img class="default-img" src="https://via.placeholder.com/550x750" alt="#">
								<img class="hover-img" src="https://via.placeholder.com/550x750" alt="#">
							</a>
							<div class="button-head">
								<div class="product-action">
									<a data-toggle="modal" data-target="#exampleModal" title="Quick View" href="#"><i class=" ti-eye"></i><span>Quick Shop</span></a>
									<a title="Wishlist" href="#"><i class=" ti-heart "></i><span>Add to Wishlist</span></a>
									<a title="Compare" href="#"><i class="ti-bar-chart-alt"></i><span>Add to Compare</span></a>
								</div>
								<div class="product-action-2">
									<a title="Add to cart" href="#">Add to cart</a>
								</div>
							</div>
						</div>
						<div class="product-content">
							<h3><a href="product-details.html">Women Hot Collection</a></h3>
							<div class="product-price">
								<span>$50.00</span>
							</div>
						</div>
					</div>
					<!-- End Single Product -->
					<!-- Start Single Product -->
					<div class="single-product">
						<div class="product-img">
							<a href="product-details.html">
								<img class="default-img" src="https://via.placeholder.com/550x750" alt="#">
								<img class="hover-img" src="https://via.placeholder.com/550x750" alt="#">
								<span class="new">New</span>
							</a>
							<div class="button-head">
								<div class="product-action">
									<a data-toggle="modal" data-target="#exampleModal" title="Quick View" href="#"><i class=" ti-eye"></i><span>Quick Shop</span></a>
									<a title="Wishlist" href="#"><i class=" ti-heart "></i><span>Add to Wishlist</span></a>
									<a title="Compare" href="#"><i class="ti-bar-chart-alt"></i><span>Add to Compare</span></a>
								</div>
								<div class="product-action-2">
									<a title="Add to cart" href="#">Add to cart</a>
								</div>
							</div>
						</div>
						<div class="product-content">
							<h3><a href="product-details.html">Awesome Pink Show</a></h3>
							<div class="product-price">
								<span>$50.00</span>
							</div>
						</div>
					</div>
					<!-- End Single Product -->
					<!-- Start Single Product -->
					<div class="single-product">
						<div class="product-img">
							<a href="product-details.html">
								<img class="default-img" src="https://via.placeholder.com/550x750" alt="#">
								<img class="hover-img" src="https://via.placeholder.com/550x750" alt="#">
							</a>
							<div class="button-head">
								<div class="product-action">
									<a data-toggle="modal" data-target="#exampleModal" title="Quick View" href="#"><i class=" ti-eye"></i><span>Quick Shop</span></a>
									<a title="Wishlist" href="#"><i class=" ti-heart "></i><span>Add to Wishlist</span></a>
									<a title="Compare" href="#"><i class="ti-bar-chart-alt"></i><span>Add to Compare</span></a>
								</div>
								<div class="product-action-2">
									<a title="Add to cart" href="#">Add to cart</a>
								</div>
							</div>
						</div>
						<div class="product-content">
							<h3><a href="product-details.html">Awesome Bags Collection</a></h3>
							<div class="product-price">
								<span>$50.00</span>
							</div>
						</div>
					</div>
					<!-- End Single Product -->
				</div>
			</div>
		</div>
	</div>
</div>
<!-- End Most Popular Area -->

<section class="section free-version-banner">
	<div class="container">
		<div class="row align-items-center">
			<div class="col-md-8 offset-md-2 col-xs-12">
				<div class="section-title mb-60">
					<span class="text-white wow fadeInDown" data-wow-delay=".2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInDown;">Eshop Free Lite version</span>
					<h2 class="text-white wow fadeInUp" data-wow-delay=".4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;">Currently You are using free<br> lite Version of Eshop.</h2>
					<p class="text-white wow fadeInUp" data-wow-delay=".6s" style="visibility: visible; animation-delay: 0.6s; animation-name: fadeInUp;">Please, purchase full version of the template to get all pages,<br> features and commercial license.</p>

					<div class="button">
						<a href="https://wpthemesgrid.com/downloads/eshop-ecommerce-html5-template/" target="_blank" rel="nofollow" class="btn wow fadeInUp" data-wow-delay=".8s">Purchase Now</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<!-- Start Shop Home List  --> 
<!-- End Shop Home List  -->

<!-- Start Shop Services Area -->
<section class="shop-services section home">
	<div class="container">
		<div class="row">
			<div class="col-lg-3 col-md-6 col-12">
				<!-- Start Single Service -->
				<div class="single-service">
					<i class="ti-rocket"></i>
					<h4>Free shiping</h4>
					<p>Orders over $100</p>
				</div>
				<!-- End Single Service -->
			</div>
			<div class="col-lg-3 col-md-6 col-12">
				<!-- Start Single Service -->
				<div class="single-service">
					<i class="ti-reload"></i>
					<h4>Free Return</h4>
					<p>Within 30 days returns</p>
				</div>
				<!-- End Single Service -->
			</div>
			<div class="col-lg-3 col-md-6 col-12">
				<!-- Start Single Service -->
				<div class="single-service">
					<i class="ti-lock"></i>
					<h4>Sucure Payment</h4>
					<p>100% secure payment</p>
				</div>
				<!-- End Single Service -->
			</div>
			<div class="col-lg-3 col-md-6 col-12">
				<!-- Start Single Service -->
				<div class="single-service">
					<i class="ti-tag"></i>
					<h4>Best Peice</h4>
					<p>Guaranteed price</p>
				</div>
				<!-- End Single Service -->
			</div>
		</div>
	</div>
</section>
<!-- End Shop Services Area -->

<!-- Start Shop Newsletter  -->
<section class="shop-newsletter section">
	<div class="container">
		<div class="inner-top">
			<div class="row">
				<div class="col-lg-8 offset-lg-2 col-12">
					<!-- Start Newsletter Inner -->
					<div class="inner">
						<h4>Newsletter</h4>
						<p> Subscribe to our newsletter and get <span>10%</span> off your first purchase</p>
						<form action="mail/mail.php" method="get" target="_blank" class="newsletter-inner">
							<input name="EMAIL" placeholder="Your email address" required="" type="email">
							<button class="btn">Subscribe</button>
						</form>
					</div>
					<!-- End Newsletter Inner -->
				</div>
			</div>
		</div>
	</div>
</section>
<!-- End Shop Newsletter -->

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span class="ti-close" aria-hidden="true"></span></button>
				</div>
				<div class="modal-body">
					<div class="row no-gutters">
						<div class="col-lg-6 offset-lg-3 col-12">
							<h4 style="margin-top:100px;font-size:14px; font-weight:500; color:#F7941D; display:block; margin-bottom:5px;">Eshop Free Lite</h4>
							<h3 style="font-size:30px;color:#333;">Currently You are using free lite Version of Eshop.<h3>
							<p style="display:block; margin-top:20px; color:#888; font-size:14px; font-weight:400;">Please, purchase full version of the template to get all pages, features and commercial license</p>
							<div class="button" style="margin-top:30px;">
								<a href="https://wpthemesgrid.com/downloads/eshop-ecommerce-html5-template/" target="_blank" class="btn" style="color:#fff;">Buy Now!</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
</div>
<!-- Modal end -->


{% endblock %}