.category-content{
    background-color: rgb(253, 115, 51);
    color:white;
    font-weight: bold;  
    padding:8px;
}
.single-category{
    box-shadow: 2px 2px 10px rgb(185, 185, 185);    
} 
.category-image{
    padding:35%;
}
.single-category-wrapper{
    max-width: 100%;
    padding:0;
}